<head>
  <meta name="description" content="Customersuccess.se listar alla jobb inom Customer Success i Sverige. Customer Success Manager är bland topp 3 snabbast växande rollerna med en tillväxt på 560%">
	<meta name="keywords" content="Customer Success,Jobb,Lediga jobb inom Customer Success,CSM,Customer Success Manager,Customer success managers
,Head of Customer Success,Director of Customer Success,Customer Relationship Management,Customer Rentention,Client Success,Client Success Manager,Client Success Managers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
