<template name="job">
	<div id="job" class="row">
        <div class="col-sm-12">
          <nav class="breadcrumbs-wrapper">
            <div class="breadcrumbs">
                <a href="/">Customer Success</a>
                <a href="/jobs">Jobb</a>
                <a href="{{pathFor 'job'}}">{{title}} på {{company}} i {{location}}</a>
            </div>
          </nav>
        </div>
		<div class="col-sm-9">
            {{#if isInRole 'admin'}}
			<div class="panel panel-default marginBottom">
				<div class="panel-body">
					    {{>jobAdminEditLink}}
					    {{>jobStatusToggle}}
					    {{>jobSuggestedTweet}}
				</div>
			</div>
            {{/if}}
            {{>jobExpiredAlert}}
            <div class="row">
               <div class="col-sm-12">
                {{>jobStatusAlert}}
                {{>jobFeatured}}
                </div>
            </div>
            <div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-10">
							<h2>
								{{title}}
							</h2>
						</div>
                        <div class="col-sm-2 logo-url">
							{{#if logoimage}}
								<img src="{{logoimage}}" />
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							{{#if company}}
								<i class="fa fa-building fa-fw"></i> {{company}}
							{{/if}}
						</div>
						<div class="col-sm-8">
							{{#if location}}
								<i class="fa fa-map-marker"></i> {{location}}
							{{/if}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-12">
							{{#if htmlDescription}}
								{{{htmlDescription}}}
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{#if $eq userId $.Meteor.userId}}
								{{!-- {{#if $eq status "pending"}} --}}
									<div class="pull-right">
										&nbsp;
										<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
									</div>
								{{!-- {{/if}} --}}
								{{#if $eq status "active"}}
									<div class="pull-right">
										<a id="job-deactivate" class="btn btn-danger">
											<i class="fa fa-times"></i> Deactivate
										</a>
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-sm-3 sticky">
            {{#if url}}
            <div class="common-ButtonGroup buttons flex-center marginBottom">
            <a class="common-Button common-Button--default flex-fullWidth" href="{{url}}" target="_blank">
             Ansök
            </a>
            </div>
            {{/if}}
            <div class="facts-about-job">
                <div class="facts-about-job__title">Snabbfakta</div>
                <div class="facts-about-job__body">
                {{>jobLabels}}
                {{#if hasLabel}}
                    <hr>
                {{/if}}
                {{#if contact}}
                    <i class="fa fa-envelope fa-fw"></i> {{contact}}
                    <hr>
                {{/if}}
                <i class="fa fa-calendar fa-fw"></i> Posted on {{formatDate createdAt}}
                {{#if featured}}
                <hr>
                <i class="fa fa-trophy fa-fw"></i> Featured Until {{formatDate featuredThrough}}
                {{/if}}
                </div>
            </div>
        </div>
	</div>
</template>
