<template name="jobNew">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
                <h4 class="text-center">CustomerSuccess.se är bara för de som är intresserad av jobb inom <a href="http://www.customersuccess.se/">Customer Success</a>.</h4>
                <br>
                <p>Det är helt gratis att lägga in jobbannonser.

                Din jobbannons kommer att finnas tillgänglig på sajten i 90 dagar.  Efter 90 dagar kommer jobbannonsen inte att synas för besökare längre.
                
                Du kan ha din jobbannons "featured" i 30 dagar för 500kr genom att köpa uppgraderingen efter att du skapat din jobbannons.</p>
                <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Skapa din jobbannons</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm id="jobNew" collection="Jobs" type="insert" }}
                        {{>jobFields}}
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-chevron-right"></i> Förhandsgranska din annons</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobEdit">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Redigera jobb</h4>
                </div>
                <div class="panel-body">
                    {{!-- {{#if $eq job.status 'pending'}} --}}
                        {{#autoForm id="jobEdit" collection="Jobs" doc=job type="update" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Uppdatera</button>
                                <button id="cancel" class="btn btn-default"> Avbryt</button>
                            </div>
                        {{/autoForm}}
                    {{!-- {{else}}
                        <div class="alert alert-info">
                            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i> Bara annonser i väntan på godkännande kan redigeras.
                            <br>
                            <a href="{{pathFor 'job' _id=job._id}}">Tillbaka till annonsen</a>
                        </div>
                    {{/if}} --}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobFields">
    {{> afQuickField name='title' placeholder="Titel"}} {{> afQuickField name="jobtype" firstOption="(Välj anställningsform)" options="allowed"}} {{> afQuickField name='company' placeholder="Namnet på företaget som anställer"}} {{> afQuickField name='location' placeholder="Var?"}} {{> afQuickField name='remote'}} {{> afQuickField name='description' rows=8 placeholder="Skriv några rader om rollen. Vilka arbetsuppgifter ingår? Vad förväntar du att arbetssökanden ska kunna i förväg? Hur är kulturen hos just er? Etc."}} {{> afQuickField name='logoimage' placeholder="Länk till logo"}} {{> afQuickField name='url' placeholder="Länk till sajt eller jobbannons"}} {{> afQuickField name='contact' placeholder="email/twitter/varhelst du önskar att bli kontaktad (den epost du använder för ditt konto kommer inte att synas.)"}}
</template>
