<template name="jobsRecent">
    <section id="jobsRecent">
        <div class="row recentJobs-header">
            <div class="col-sm-9">
                <h2>🔥 Senaste jobben inom Customer Success</h2>
            </div>
            <div class="col-sm-3 text-right marginBottom10">
                <a href="/rss/jobs" target="_blank"><i class="fa fa-rss"></i></a>
            </div>
        </div>

        {{#each featuredJobs}}
            {{>jobSmall}}
        {{/each}}
        {{#each jobs}}
            {{>jobSmall}}
        {{/each}}


        <div class="panel panel-default top-border">
            <div class="panel-body text-center">
                <a class="view-all" href="{{pathFor 'jobs'}}">Se alla {{getCount 'jobCount'}} Customer Success jobb&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
</template>
